

/* Background image */
body {
  background: url('./assets/health-curve.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Cards */
  .cards-container {
    display: flex;
    flex-direction: column;
    width: 100%
  }

  .card-content {
    flex: 3;
    text-align: left;
  }

  .card-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
  }

  .card-body {
    margin-top: 2px;
    font-size: 10px;
  }

  /* span::before {content: '\A'; white-space: pre; margin-top: 20px;} */
  .card-col {
    display: flex;
    flex-direction: column;
  }

  .card-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* Card Intro */

  .card-intro-wrapper {
    display: inline-block;
    margin: 15px auto;
    width: 300px;
  }

  .welcome {
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
  }

  .card-intro {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  /* Current Card */

  .current-card {
    border: 1px solid #FA80EC;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px auto;
    background-color: #fff;
    width: 300px;
    height: 90px;
  }

  .heart-icon {
    flex: 1;
    align-self: center;
    color: #FA80EC;
  }

  /* For Kids Card */

  .for-kids-card {
    border: 1px solid #F88F26;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px auto;
    background-color: #fff;
    width: 300px;
    height: 90px;
  }
  .for-kids-icon {
    flex: 1;
    align-self: center;
    color: #F88F26;
  }

  /* Future Card */
  .future-card {
    border: 1px solid #9C08F8;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px auto;
    background-color: #fff;
    width: 300px;
    height: 90px;
  }

  .future-icon {
    flex: 1;
    align-self: center;
    color: #9C08F8;
  }

  /* History Card */
  .history-card {
    border: 1px solid #8E4801;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px auto;
    background-color: #fff;
    width: 300px;
    height: 90px;
  }

  .history-icon {
    flex: 1;
    align-self: center;
    color: #8E4801;
  }

  /* Education Card */
  .education-card {
    border: 1px solid #43F882;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px auto;
    background-color: #fff;
    width: 300px;
    height: 90px;
  }

  .education-icon {
    flex: 1;
    align-self: center;
    color: #43F882;
  }

/* Mobile devices */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .element {
    position: absolute;
    left: 30%;
    height: 350px;
    width: 350px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  
  .circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
  }
}


/* iPhone 6, 7, 8 Landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
  .element {
    position: absolute;
    left: 28%;
    height: 350px;
    width: 350px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  
  .circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
  }
}

/* iPhone 6, 7, 8 Portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
  .element {
    position: absolute;
    left: 28%;
    height: 350px;
    width: 350px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  
  .circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
  }
}

/* Galaxy S5 Landscape*/
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
and (orientation : landscape) {
  .element {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  
  .circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
  }
}

/* Galaxy S5 Portrait*/
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
and (orientation : portrait) {
  .element {
    position: absolute;
    left: 8%;
    height: 300px;
    width: 300px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  
  .circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
  }
}

/* iPhone 6, 7, 8 Plus Portrait*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {
  .element {
    position: absolute;
    left: 10%;
    bottom: 20%;
    height: 350px;
    width: 350px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  
  .circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
  }
}

/* iPhone 6, 7, 8 Plus Landscape*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
  .element {
    position: absolute;
    height: 350px;
    width: 350px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  
  .circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
  }
}
/*Tablet Devices*/

/* iPad Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .element {
    position: absolute;
    left: 20%;
    height: 650px;
    width: 650px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  
  .circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 62px;
    font-weight: bold;
    color: #fff;
  }
}

/* iPad Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .element {
    position: absolute;
    bottom: 20%;
    left: 8%;
    height: 650px;
    width: 650px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  .circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 62px;
    font-weight: bold;
    color: #fff;
  }
}

/* iPad Pro Landscape */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : landscape) {
  .element {
    position: absolute;
    bottom: 20%;
    left: 28%;
    height: 650px;
    width: 650px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  
  .circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 62px;
    font-weight: bold;
    color: #fff;
  }
}
/* iPad Pro Portrait */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 3000px) 
and (orientation : portrait) {
  .element {
    position: absolute;
    top: 10%;
    left: 20%;
    height: 650px;
    width: 650px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  
  .circle-txt {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 62px;
    font-weight: bold;
    color: #fff;
  }
}

/* Desktop */
@media (min-width: 1367px) {
  .element {
    
    bottom: 20%;
    left: 20%;
    height: 650px;
    width: 650px;
    background-color: red;
    animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
    margin: auto;
  }
  
  .circle-txt {
    margin: auto;
    bottom: -45%;
    width: 100%;
    position: relative;
    text-align: center;
    /* NOT IMPORTANT */
    font-family: arial, sans-serif;
    font-size: 62px;
    font-weight: bold;
    color: #fff;
  }
}

@keyframes pulse {
  25% {
    background-color: #F72BB8;
  }
  50% {
    background-color: #EF56FC;
  }
  75% {
    background-color: #68C4FD;
  }
  100% {
    background-color: #5BFAAB;
  }
}

